#a-bannerWraps{
	width: 1920px;
}

#a-banner{
	width: 7690px;
	height: 480px;
	background-color: pink;
	
	/*margin: 0 auto;*/
}
#a-banner>img{
	float: left;
	/*width: 300px;*/

	height: 480px;
	
	/*right: 0px;*/
	
	
}
.swiper-pagination-bullet-active{
	background-color: #f60;
}
