/****海澜之家购物车*****/
.m_car_lists {
	width: 100%;
}
.m_car_shop{
	width: 100%;
	height: 370px;
	border: 1px solid #d3d3d3;
	margin-top: 20px;
}

.m_car_shop ul {
	width: 100%;
}

.m_car_shop ul > li{
	width: 100%;
	height: 60px;
	line-height: 60px;
	padding: 8px 0;
	font-size: 14px;
	border-bottom: 1px solid #d3d3d3;
}

.m_car_shop ul > li:nth-child(1){
	height: 34px;
	line-height: 34px;
	background-color: #f2f2f2;
	overflow: hidden;
	font-size: 16px;
	border: none;
}

.m_car_shop ul li > div{
	float: left;
	text-align: center;
}

.m_car_shop ul li > div a{
	color: #0689c6;
}

.m_car_shop ul li > div:nth-child(1){
	width: 60px;
}

.m_car_shop ul li > div:nth-child(2){
	width: 390px;
}

.m_car_shop ul li > div:nth-child(3){
	width: 170px;
	line-height: 30px;
}

.m_car_shop ul li > div:nth-child(4){
	width: 80px;
}

.m_car_shop ul li > div:nth-child(5){
	width: 150px;
}

.m_car_shop ul li > div:nth-child(6){
	width: 80px;
}

.m_car_shop ul li > div:nth-child(7){
	width: 150px;
}


.m_car_shop .uradio{
	display:inline-block;
	width: 15px;
	height: 15px;
	line-height: 15px;
	border: 1px solid #d3d3d3;
	vertical-align: middle;
	text-align: center;
}

 
.m_car_shop .radiochecked{
	border: 1px solid #ff6f00;
	width: 16px;
	height: 16px;
}

.m_shop_num{
	font-size: 0;
}

.m_shop_num > span{
	display: inline-block;
	height: 28px;
	border: 1px solid #d3d3d3;
	vertical-align: middle;
	line-height: 30px;
	font-size: 14px;
}

.m_shop_num .cutadd{
	width: 28px;
	line-height: 25px;
	background-color: #f3f3f3;
	color: #9a9a9a;
	font-size: 30px;
	font-weight: bold;
	/*border: 1px solid #000;*/
}

.m_shop_num .ushow{
	width: 45px;
}

.m_summoney{
	height: 90px;
	line-height: 40px;
	font-size: 20px;
	text-align: right;
	margin-right: 163px;
}

.m_summoney p:last-child{
	color: #f7720e;
}


.m_car_b{
	width: 100%;
	height: 120px;
	line-height: 120px;
}

.m_car_b a{
	color: #0689c6;
	margin-right: 80px;
	font-size: 16px;
}

.m_car_b > p{
	display: inline-block;
	margin-left: 300px;
}

.m_car_b > p span:last-child{
	font-size: 22px;
	color: #f56b06;
	margin-left: 10px;
}

.m_car_b > button{
	float: right;
	right: 0;
}














