@charset "utf-8";
.a-headerTop{
    width: 100%;
    min-width: 1190px;
    height: 35px;
    background-color: #eeeeee;
}
.a-headerTopContent{
    width: 1185px;
    margin: 0 auto;
    /*border:1px solid red;*/
}
.a-headLeft{
    float: left;
    line-height: 35px;
}
.a-headLeft>span:last-child{
    background:  url(../C_images/下箭头.png) 0 0 no-repeat;
    
    background-position: 30px 7px;
    display: inline-block;
    width: 50px;
}

.a-headRight{
    float: right;
    margin-top: 9px;
}
.a-headRight>li{
    display: inline-block;
    border-right:1px solid #999999; 
    padding: 0 11px;
}
.a-headRight>li:nth-child(5){
    border-right: none;
}
.a-headRight>li>a:hover,.a-headCentent-ul>li>a:hover,.a-my>a:hover,.a-buy>a:hover{
color:#ff6c00;
}
.a-phone>a>img{
    
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.clear{
    clear: both;
}
.initDIV{
    width: 235px;
    height: 43px;
    background: #D2D2D2;
    margin: 80px 15px;
    position: relative;
    float: left;
    color: #000;
    line-height: 43px;
    text-align: center;
}
.childDIV{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid #d2d2d2;
    border-bottom: 23px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;


}
.child{
    border-left: 20px solid #ec6a17;
}
.myowncar{
    color: #fff;
}
.childBottomLeft{
    width: 0;
    height: 0;
    border-top: 20px solid #D2D2D2;
    border-left: 20px solid transparent;
    position: absolute;
    top: 0;
    left: -20px;
}
.childBottomRight{
    width: 0;
    height: 0;
    border-bottom: 20px solid #D2D2D2;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: 0;
    left: -20px;
}
.initDIVS{
    width: 235px;
    height: 43px;
    background: #D2D2D2;
    margin: 80px 15px;
    position: relative;
    float: left;
    line-height: 43px;
    text-align: center;
}
.childBottomLefts{
    width: 0;
    height: 0;
    border-top: 20px solid #D2D2D2;
    border-left: 20px solid transparent;
    position: absolute;
    top: 0;
    left: -20px;
}
.childBottomRights{
    width: 0;
    height: 0;
    border-bottom: 20px solid #D2D2D2;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: 0;
    left: -20px;
}
.initDIV:hover{
    background: #ec6a17;
}
.initDIV:hover .childDIV{
    border-left: 20px solid #ec6a17;

}
.initDIV:hover .childBottomLeft{
    border-top: 20px solid #ec6a17;

}
.initDIV:hover .childBottomRight{
    border-bottom: 20px solid #ec6a17;
}
.initDIV:hover span{
    color: #fff;
}
.initDIVS:hover {
    background: #ec6a17;
}
.initDIVS:hover .childBottomLefts{
    border-top: 20px solid #ec6a17;
}
.initDIVS:hover .childBottomRights{
    border-bottom: 20px solid #ec6a17;
}
.initDIVS:hover span{
    color: #fff;
}
.c-myshop{
    background: #ec6a17;
}
/************************************/
.wrapper{
    width: 100%;
    min-width: 1190px;
    height: 100%;
}
.wrap{
    width: 1181px;
    min-width: 900px;
    height: 735px;
    margin: 0 auto;
    /*overflow: hidden;*/
    border: 1px solid #d3d3d3;
}
.life{
    /*text-align: center;*/
    width: 100%;
    height: 161px;
    overflow: hidden;
}
.life img{
    width: 140px;
    height: 83px;
    float: left;
    margin-top: 40px;
    margin-left: 40px;
}

.l_life{
    margin-left: 360px;
    /*overflow: hidden;*/
}
.HR{
    margin-left: 40px;
    display: inline-block;
    width: 1100px;
}
.part{
    margin-left: 40px;
    margin-top: 40px;
}
.item{
    width: 1181px;
    height:483px;
    /*border: 1px solid #008de1;*/
    position: relative;
    margin-left: 413px;
    margin-top: 173px;
}
.item span{
    display: inline-block;
    margin-top: 6px;
    color: #666;
    font-size: 1.2em;
    margin-left: 55px;
}
.item img{
    vertical-align: top;
}
.item a{
    display: inline-block;
    width: 170px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background-color: #ec6a17;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 60px;
    left: 185px;
}

.h_HR{
    margin-top: 43px;
}
.footer{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.foot{
    text-align: center;
    width: 1181px;
    height: 123px;
    margin: 0 auto;
    /*border: 1px solid #666666;*/
    color: #999;
}
.foot p:nth-child(1){
    margin-top: 70px;
}
.foot p:nth-child(2){
    margin-top: 10px;
}

/***************************************************************/








